* {
  margin: 0%;
  padding: 0%;
  user-select: none;

  box-sizing: border-box;
}
body,
html {
  height: 100%;
  width: 100%;
}
#main {
  height: 100%;
  width: 100%;
  background-color: rgb(48, 133, 145);

  align-items: center;
  justify-content: center;
}
#inner {
  height: 90%;
  width: 90%;
  background-color: rgba(13, 88, 131, 0.651);
  border-radius: 10px;
  margin-left: 5%;
  justify-content: center;
}
h3 {
  margin-left: 50%;
  padding-top: 2%;
  font-size: 200%;
}
#in1 {
  margin-top: 50px;
}
h1 {
  font-size: 60px;
  text-decoration: underline rgb(134, 10, 10);
}
a {
  text-decoration: none;
  font-size: 85px;
  background-color: rgba(44, 138, 57, 0.568);
  border-radius: 5px;
}
#str {
  margin-top: 20%;
}
a:hover {
  color: rgb(197, 24, 24);
  box-shadow: 10px 10px black solid;
}
